@import "tailwindcss";

@theme {
	--color-black-100: #01030f;
}

* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
}

body {
	color: white;
}

#button-slide:hover > #color-slide {
	transform: translate(0, -150px);
}

#project:hover > div > #project-text {
	color: oklch(0.707 0.165 254.624);
}
#project:hover > #project-img {
	transform: translateX(280px);
}

#projects-container:hover > #project-cursor {
	display: block;
}
